body{
    display: flex;
    background-color:rgb(44, 56, 85);
}
.counts{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    
}
button{
    font-size: 2vw;
    color:yellow;
    background-color:black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
    padding: 5px;
}
button:active{
    transform: scale(0.96);
  
}
.value{
    font-size: 2.5vw;
    text-align: center;
    color: white;
}